body {
    margin: 0px;
    overflow: hidden;
  }
  
.sphere {
  /*fill: #4242e4;*/
  /*fill: #29ABE2;*/
  fill: #66b3ff;
}
  
.country {
  /*fill: lightgreen;*/
  fill: #66ff99;
  stroke: darkgreen;
  stroke-opacity: 1;
  stroke-width:0.5px;
}

.country:hover {
    fill:darkgreen;
}

.plane {
    width: 20px;
    height: 20px;
    x: -8;
    y: -8;
}