.query {
    background: -webkit-linear-gradient(right, #3931af, #00c6ff);
    padding: 3%; 
}
.query-right{
    text-align: center;
    margin-top: 4%;
}
.query-right h2 {
    color: #fff;
    font-weight: bold;
}
.query-right img{
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    width: 400px;
    height:200px;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
.query-left{
    background: #f8f9fa;
    border-top-right-radius: 10% 50%;
    border-bottom-right-radius: 10% 50%;
}
.query-left h3 {
    font-weight: bold;
    color: #495057;
}
.query-left-col-left {
    width: 60%;
    left: 0;
    position: absolute;
    margin: 13%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.query-left-col-right {
    width: 40%;
    right: 0;
    position: absolute;
    margin: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

.result-header {
    font-weight: bold;
    color: #495057;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
}

  
