<!DOCTYPE html>
<html lang="en">
    <head>
        
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <!-- Site Metas -->
        <title>Air Tracking</title>
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Site Icons -->
        <link rel="shortcut icon" href="#" type="img/x-icon" />
        <link rel="apple-touch-icon" href="#" />

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="css/bootstrap.min.css" />
        <!-- Pogo Slider CSS -->
        <link rel="stylesheet" href="css/pogo-slider.min.css" />
        <!-- Site CSS -->
        <link rel="stylesheet" href="css/style.css" />
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="css/responsive.css" />
        <!-- Custom CSS -->
        <link rel="stylesheet" href="css/custom.css" />
        <!--<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />-->
        
    </head>
    
    <body id="home" class="background-error" data-spy="scroll" data-target="#navbar-wd" data-offset="98">

        <!-- LOADER -->
        <div id="preloader">
            <div class="loader">
                <img src="img/loader.gif" alt="#" />
            </div>
        </div>
        <!-- end loader -->
        <!-- END LOADER -->

        <!-- Start header -->
        <header class="top-header">
            <nav class="navbar header-nav navbar-expand-lg">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/"><img src="img/airtracking.png" alt="image" style="width:300px;height:100px;"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                        <ul class="navbar-nav">
                            <li><a class="nav-link active" href="/">Home</a></li>
                            <li><a class="nav-link" href="/map">Map</a></li>
                            <li><a class="nav-link" href="/flight">Flight Statistics</a></li>
                            <li><a class="nav-link" href="/plane">Plane Statistics</a></li>
                        </ul>
                    </div>
                    <div class="search-box">
                        <input type="text" class="search-txt" placeholder="Search">
                        <a class="search-btn">
                            <img src="img/search_icon.png" alt="#" />
                        </a>
                    </div>
                </div>
            </nav>
        </header>
        <!-- End header -->


        <div class="section layout_padding theme_bg vertical-center">
            <div class="container">
                <div class="row">
                    
                    <!--<div>-->                        
<!--                    <div style="flex: 0 0 65%">
                        <img style="width: 300px; height: 300px;" src="img/error-plane-2.png">
                    </div>-->
                    
                    <div style="padding-top: 5%">
                        <img class="vertical-center" id="plane-error" src="img/error-plane-3-white.png">
                        <h1 style="color:#ffffff; font-weight:bold; text-align: center;">It seems we are losing altitude!</h1>
                        <br>
                        <a class="myButton" href="/">Return to homepage</a>
                        <a class="myButton" href="javascript:history.back()">Return to previous page</a>
                     </div>
                </div>
            </div>
        </div>


        <div class="footer_bottom" style="position: fixed; left: 0; bottom: 0; width: 100%;">            
            <div class="container">
                <div class="row">
                </div>
            </div>
        </div>
	
	<a href="#" id="scroll-to-top" class="hvr-radial-out"><i class="fa fa-angle-up"></i></a>

        <!-- ALL JS FILES -->
        <script src="js/jquery.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <!-- ALL PLUGINS -->
        <script src="js/jquery.magnific-popup.min.js"></script>
        <script src="js/jquery.pogo-slider.min.js"></script>
        <script src="js/slider-index.js"></script>
        <script src="js/smoothscroll.js"></script>
        <script src="js/form-validator.min.js"></script>
        <script src="js/contact-form-script.js"></script>
        <script src="js/isotope.min.js"></script>
        <script src="js/images-loded.min.js"></script>
        <script src="js/custom.js"></script>   

    </body>
</html>

