<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <!-- Site Metas -->
        <title>Air Tracking</title>
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Site Icons -->
        <link rel="shortcut icon" href="#" type="img/x-icon" />
        <link rel="apple-touch-icon" href="#" />

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="css/bootstrap.min.css" />
        <!-- Pogo Slider CSS -->
        <link rel="stylesheet" href="css/pogo-slider.min.css" />
        <!-- Site CSS -->
        <link rel="stylesheet" href="css/style.css" />
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="css/responsive.css" />
        <!-- Custom CSS -->
        <link rel="stylesheet" href="css/custom.css" />
        <link rel="stylesheet" href="css/buttonstyles.css" />
        
        <!-- PAGE -->
        <link rel="stylesheet" href="css/webpageflights.css"/>
        
    </head>
    
    <body id="home" data-spy="scroll" data-target="#navbar-wd" data-offset="98">

        <!-- LOADER -->
        <div id="preloader">
            <div class="loader">
                <img src="img/loader.gif" alt="#" />
            </div>
        </div>
        <!-- end loader -->
        <!-- END LOADER -->

        <!-- Start header -->
        <header class="top-header">
            <nav class="navbar header-nav navbar-expand-lg">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/"><img src="img/airtracking.png" alt="image" style="width:300px;height:100px;"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                        <ul class="navbar-nav">
                            <li><a class="nav-link active" href="/">Home</a></li>
                            <li><a class="nav-link" href="/map">Map</a></li>
                            <li><a class="nav-link" href="/flight">Flight Statistics</a></li>
                            <li><a class="nav-link" href="/plane">Plane Data</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <!-- End header -->
        
        <div class="query"></div>
        
        <!-- section -->
        <div class="query">
                
                <div class="row">                    
                     
                    <!-- LEFT SIDE DIV -->
                    <div class="col-md-4 query-left">
                        <h2>Flight Statistics</h2>
                        <img src="img/flight-icon-2.png" alt="flight">
                    </div>
                    
                    <!-- RIGHT SIDE DIV -->
                    <div class="col-md-8 query-right">
                                
                        <div class="query-right-col-left">
                            <form action="#" th:action="@{/flight}" />
                                <h3><label for="country">Select country: </label></h3>
                                <select id="countrySelect" class="select-air">
                                    <option th:each="country : ${countrieslist}" th:value="${country}" th:text="${country}"></option>
                                </select>
                                <p></p>
                                <h3><label for="flights">Select flight:</label></h3>
                                <select class="select-air" id="flight" name="flight"></select>
                                <p></p>
                                <h5><input class="btn-air" type="submit" value="Submit"></h5>
                            </form>
                        </div>
                        
                        <div class="query-right-col-right">
                            <span th:if="${icao24 != ' '}"><span class="result-header">Name:</span> <span th:text="${icao24}"></span></span><p></p>
                            <span th:if="${max_speed != ' '}"><span class="result-header">Max speed:</span> <span th:text="${max_speed}"></span></span><p></p>
                            <span th:if="${avg_speed != ' '}"><span class="result-header">Average speed:</span> <span th:text="${avg_speed}"></span></span><p></p>
                            <span th:if="${avg_vertical_rate != ' '}"><span class="result-header">Average vertical rate:</span> <span th:text="${avg_vertical_rate}"></span></span><p></p>
                            <br><br>
                            <span th:if="${icao24 != ' '}"><span>* values calculated from the last 5 flight states.</span>
                        </div>
                        
                    </div>           
            </div>
        </div>
        
        <div class="query"><br><br><br><br></div>
        
        <!-- end section -->
        

        <div class="footer_bottom" style="position: fixed; left: 0; bottom: 0; width: 100%;">
            <div class="container">
                <div class="row">
                </div>
            </div>
        </div>
	
	<a href="#" id="scroll-to-top" class="hvr-radial-out"><i class="fa fa-angle-up"></i></a>

        <!-- ALL JS FILES -->
        <script src="js/jquery.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <!-- ALL PLUGINS -->
        <script src="js/jquery.magnific-popup.min.js"></script>
        <script src="js/jquery.pogo-slider.min.js"></script>
        <script src="js/slider-index.js"></script>
        <script src="js/smoothscroll.js"></script>
        <script src="js/form-validator.min.js"></script>
        <script src="js/contact-form-script.js"></script>
        <script src="js/isotope.min.js"></script>
        <script src="js/images-loded.min.js"></script>
        <script src="js/custom.js"></script>   

    </body>
    
    <script th:inline="javascript">
        
        let dropdown = document.getElementById("flight");
        var flights =[[${flightslist}]];
        
        function changeflight(){
            var f = [];
            var country = $("#countrySelect").val();
            
            flights.forEach(function(flight) {
                if (flight.origin_contry === country){
                    f.push(flight.icao24);
                }
            });
            
            //console.log(country);
            //console.log(f);
            
            dropdown.options.length = 0;
            for (let i = 0; i < f.length; i++) {
                option = document.createElement('option');
                option.text = f[i];
                option.value = f[i];
                dropdown.add(option);
            } 
        }
        
        window.onload = changeflight;
        document.getElementById("countrySelect").onchange = changeflight;
    </script>
    
</html>
