<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

    <head>
        
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <!-- Site Metas -->
        <title>Air Tracking</title>
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Site Icons -->
        <link rel="shortcut icon" href="#" type="img/x-icon" />
        <link rel="apple-touch-icon" href="#" />

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="css/bootstrap.min.css" />
        <!-- Pogo Slider CSS -->
        <link rel="stylesheet" href="css/pogo-slider.min.css" />
        <!-- Site CSS -->
        <link rel="stylesheet" href="css/style.css" />
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="css/responsive.css" />
        <!-- Custom CSS -->
        <link rel="stylesheet" href="css/custom.css" />
    </head>
    
    <body id="home" data-spy="scroll" data-target="#navbar-wd" data-offset="98">

    <!-- LOADER -->
    <div id="preloader">
        <div class="loader">
            <img src="img/loader.gif" alt="#" />
        </div>
    </div>
    <!-- end loader -->
    <!-- END LOADER -->

    <!-- Start header -->
    <header class="top-header">
        <nav class="navbar header-nav navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="homepage.html"><img src="img/airtracking.png" alt="image" style="width:300px;height:100px;"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                    <ul class="navbar-nav">
                        <li><a class="nav-link active" href="/">Home</a></li>
                        <li><a class="nav-link" href="/map">Map</a></li>
                        <li><a class="nav-link" href="/flight">Flight Statistics</a></li>
                        <li><a class="nav-link" href="/plane">Plane Data</a></li>
                    </ul>
                </div>
                <div class="search-box">
                    <input type="text" class="search-txt" placeholder="Search">
                    <a class="search-btn">
                        <img src="img/search_icon.png" alt="#" />
                    </a>
                </div>
            </div>
        </nav>
    </header>
    <!-- End header -->

    <!-- Start Banner -->
    <div class="ulockd-home-slider">
        <div class="container-fluid">
            <div class="row">
                <div class="pogoSlider" id="js-main-slider">
                    <div class="pogoSlider-slide" style="background-image:url(img/airplane-02_cut.jpg);">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="slide_text">
                                        <h3><span class="theme_color">EASILY</span> TRACK</h3>
                                        <br>
                                        <h4>EVERY<br>PLANE AND FLIGHT</h4>
                                        <br>
                                        <p>See all the planes/flights in real time
                                            <br>using the map feature</p>   
                                        <a class="contact_bt" href="/map">MAP</a>   
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pogoSlider-slide" style="background-image:url(img/statsimg.png);">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="slide_text">
                                        <h3><span class="theme_color">CHECK</span> STATISTICS AND DATA</h3>
                                        <br>
                                        <h4>OF THE PLANES OR FLIGHTS</h4>
                                        <br>
                                        <h4>THAT YOU WANT</h4>                                       
                                        <a class="contact_bt" href="/flight">FLIGHT STATISTICS</a>
                                        <a class="contact_bt" href="/plane">PLANE DATA</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .pogoSlider -->
            </div>
        </div>
    </div>
    <!-- End Banner -->

    <div class="section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full center">
                        <div class="heading_main text_align_center">
                            <h2>WANT TO SEE WHAT'S HAPPENING IN THE SKY?</h2> 
                            <h2><span class="theme_color">AIR TRACKING</span> CAN HELP YOU</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- section -->
    <div class="section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div id="demo" class="carousel slide" data-ride="carousel">

                        <!-- The slideshow -->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-lg-3 col-md-6 col-sm-12">
                                        <img class="img-responsive" src="img/map.jpg" alt="#" style="width:400px;height:200px;"/>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-12">
                                        <img class="img-responsive" src="img/plane.jpg" alt="#" style="width:400px;height:200px;"/>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-12">
                                        <img class="img-responsive" src="img/flight.png" alt="#" style="width:400px;height:200px;"/>
                                    </div>   
                                    <div class="col-lg-3 col-md-6 col-sm-12">
                                        <img class="img-responsive" src="img/airplane-02_cut.jpg" alt="#" style="width:400px;height:200px;"/>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-lg-3 col-md-6 col-sm-12">
                                        <img class="img-responsive" src="img/map2.jpg" alt="#" style="width:400px;height:200px;"/>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-12">
                                        <img class="img-responsive" src="img/plane2.jpg" alt="#" style="width:400px;height:200px;"/>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-12">
                                        <img class="img-responsive" src="img/flight2.jpg" alt="#" style="width:400px;height:200px;"/>
                                    </div>                                   
                                    <div class="col-lg-3 col-md-6 col-sm-12">
                                        <img class="img-responsive" src="img/statsimg.png" alt="#" style="width:400px;height:200px;"/>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Left and right controls -->
                        <a class="carousel-control-prev" href="#demo" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#demo" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>

                    </div>
                </div>          
            </div>

        </div>
    </div>
    <!-- end section -->

    <!-- section -->
    <div class="section layout_padding theme_bg">
        <div class="container">
            <div class="row">
                <div class="full center">
                    <h2>Full scale mapping of flights</h2><br>
                        <p style="color:white;">Interact and visualize on a full scale map.</p><br>
                            <p style="color:white;">Easy data visualization of all world flights in a single place.</p><br>
                    <br>
                        <h2>Flight Statistics</h2><br>
                                <p style="color:white;">Easy access to averages and other processed data.</p><br>
                                    <p style="color:white;">Filter flights by country.</p><br>
                    <br>
                        <h2>Plane Data</h2><br>                          
                            <p style="color:white;">Be able to see raw data of planes.</p><br>
                                <p style="color:white;">Filter planes by country.</p><br>
                </div>             
            </div>
        </div>
    </div>
    <!-- end section -->

    <!-- section -->
    <div class="section layout_padding">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="full">
                        <div class="center">
                            <img src="img/map-icon.png" alt="#" style="width:400px;height:200px;" />
                        </div>
                        <div class="center">
                            <h4>Map</h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="full">
                        <div class="center">
                            <img src="img/flight-icon.jpg" alt="#" style="width:400px;height:200px;" />
                        </div>
                        <div class="center">
                            <h4>Flights</h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="full">
                        <div class="center">
                            <img src="img/plane-icon.png" alt="#" style="width:400px;height:200px;" />
                        </div>
                        <div class="center">
                            <h4>Planes</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->

    <div class="footer_bottom" style="position: fixed; left: 0; bottom: 0; width: 100%;">            
        <div class="container">
            <div class="row">
            </div>
        </div>
    </div>

    <a href="#" id="scroll-to-top" class="hvr-radial-out"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.pogo-slider.min.js"></script>
    <script src="js/slider-index.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/form-validator.min.js"></script>
    <script src="js/contact-form-script.js"></script>
    <script src="js/isotope.min.js"></script>
    <script src="js/images-loded.min.js"></script>
    <script src="js/custom.js"></script>   

    </body>
</html>

